<% if(error && error.length > 0) { %>
  <div class="flash danger text-danger "  ><p><%=error %></p></div>
<% } %>
<% if(success && success.length > 0) { %>
  <div class="flash success text-white "  ><p><%= success %></p></div>
<% } %>
