<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Social Icons-->
            <div class="row divider-custom">
                <div class="col-12">
                    <h1>Contact ME</h1>
                </div>
                <div class="col-12">
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/ericfallone/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/xszJNhQKXs"><i class="fab fa-fw fa-discord"></i></a>
                </div>
            </div>
          <!-- Footer About Text-->
      </div>
  </div>
</footer>

<!-- Copyright Section-->


<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="/scripts/navigation.js"></script>
</body>
</html>
