<section class="page-section background_orange_color text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row divider-custom">
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <p>I am a Unity Developer and Game Designer!</p>
                    
                    <p>I have worked on an under NDA project as a game designer creating a game design document and outlining a plan for a survial game. 
                        I also worked as a Unity Dev for under NDA tactics card game.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
