<header class="masthead background_orange_color text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Eric Fallone</h1>
        <!-- Icon Divider-->
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">I am a gameplay programmer</p>
        <div class="row divider-custom">
          <div class="col-12">
            <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Tiger-Frog-Games"><i class="fab fa-fw fa-github"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/ericfallone/"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <!-- <a class="btn btn-outline-light btn-social mx-1" href="https://www.artstation.com/tiger-frog"><i class="fab fa-fw fa-artstation"></i></a> -->
            <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/TigerFrogGames"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/xszJNhQKXs"><i class="fab fa-fw fa-discord"></i></a>
          </div>
        </div>
    </div>
</header>
