<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2> -->
        <!-- Icon Divider-->
        <!-- 
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div> -->
        <!-- Portfolio Grid Item-->
        <div class="row portfolio-text">

            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <%- include('Portfolios/Main Page/CupCakeMage'); %>
                </div>
            </div>
            
            
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <%- include('Portfolios/Main Page/RollingInTheSheep'); %>
                </div>
            </div>
            
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <%- include('Portfolios/Main Page/TheSorrowOfSilk'); %>
                </div>
            </div>
            
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <h4 class="text-center text-white">NDA projects</h4>
                    <ul>
                        <li>Unity generalist and game desgner for survial game. Designed and programmed three distinct parts of the game for a survial game demo to highlight core mechanics.</li>
                        <li>Gameplay programer for a strategy card game. Focusing on playing cards, the card resolve queue, and spells</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <!-- Admin Buttons -->

    </div>
</section>
