<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Item-->
        <div class="row">

            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <%- include('Portfolios/CupCakeMage'); %>
                </div>
            </div>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <%- include('Portfolios/RollingInTheSheep'); %>
                </div>
            </div>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            
            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <p class="text-center">I have worked on an under NDA project as a game designer creating a game design document and outlining a plan for a survial game. I also worked as a Unity Dev for under NDA tactics card game.</p>
                </div>
            </div>

            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>

            <div class="col-lg-8 mx-auto portfolio-custom">
                <div class="container d-flex align-items-center flex-column">
                    <p class="text-center">Check out my <a class="btn-link" href='/Blog'>blog</a> where I go into detail of some parts of projects or showing off old projects that are not part of the portfolio.</p>
                </div>
            </div>
            
        </div>
        <!-- Admin Buttons -->

    </div>
</section>
