<p class="text-center">That One Time I was a magical cupcake fighting a wizard baker! </p>

<p class="text-center"> A solo 2 week jam for the pirate softwar gamejam</p>

<iframe frameborder="0" src="https://itch.io/embed/1896924?border_width=0&amp;bg_color=4ea3fe&amp;fg_color=000000&amp;link_color=fa5c5c&amp;border_color=ff48e5" width="206" height="165"><a href="https://tiger-frog-games.itch.io/that-one-time-i-was-a-magical-cupcake-fighting-a-wizard-baker">That One Time I was a magical cupcake fighting a wizard baker! by Tiger Frog Games</a></iframe>
        