<div class="row text-orange">
    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Black Matter</h4>
        <h6 class="">3d Artist, Level Design, Programmer - Unreal Engine 5</h6>
    </div>
    <div class="col-lg-6 portfolio-custom text-center">
        <p>Created in a team of five for the Pirate Software Game Jam 14</p>
        <!--
        <a href="/portfolio/BlackMatter">
            <button class="btn btn-outline-tiger btn-sm margin-top" > Read More</button>
        </a>
        -->
    </div>
    
    <div class="col-lg-6 align-content-center portfolio-custom">
        <iframe frameborder="0" src="https://itch.io/embed/2488126?bg_color=000000&amp;fg_color=ffffff&amp;link_color=542f75&amp;border_color=542f75" width="208" height="167"><a href="https://tiger-frog-games.itch.io/black-matter">Black Matter by Tiger Frog Games, GangsterPug, LoboGuarah, LeftoverProductions</a></iframe>
    </div>
</div>