<div class="row text-orange">
    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">That One Time I was a magical cupcake fighting a wizard baker!</h4>
        <h6 class="">Solo Developer</h6>
    </div>
    <div class="col-lg-6 portfolio-custom text-center">
        <p>Created solo for the Pirate Software gamejame with a focus on locking in a in-depth game design document early.</p>
        <a href="/portfolio/CupCakeMage">
            <button class="btn btn-outline-tiger btn-sm margin-top" > See More</button>
        </a>
    </div>
    
    <div class="col-lg-6 align-content-center portfolio-custom">
        <iframe frameborder="0" src="https://itch.io/embed/1896924?border_width=0&amp;bg_color=4ea3fe&amp;fg_color=000000&amp;link_color=fa5c5c&amp;border_color=ff48e5" width="206" height="165"><a href="https://tiger-frog-games.itch.io/that-one-time-i-was-a-magical-cupcake-fighting-a-wizard-baker">That One Time I was a magical cupcake fighting a wizard baker! by Tiger Frog Games</a></iframe>
    </div>
</div>