<div class="row text-orange">
    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Employee 11871</h4>
        <h6 class="">Solo  Developer - Unreal Engine 5</h6>
    </div>
    <div class="col-lg-6 portfolio-custom text-center">
        <p>Created solo for the Pirate Software gamejame</p>
        <a href="/portfolio/Employee11871">
            <button class="btn btn-outline-tiger btn-sm margin-top" > See More</button>
        </a>
    </div>

    <div class="col-lg-6 align-content-center portfolio-custom">
        <iframe frameborder="0" src="https://itch.io/embed/2018927?bg_color=282828&amp;fg_color=00ff66&amp;link_color=FFCC00&amp;border_color=5f5f5f" width="208" height="167"><a href="https://tiger-frog-games.itch.io/employee-11781">Employee #11781 by Tiger Frog Games</a></iframe>
    </div>
</div>