<div class="row text-orange">
    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Rolling in the Sheep</h4>
        <h6 class="">Programer and Game Designer</h6>
    </div>
    <div class="col-lg-6 portfolio-custom text-center">
        <p>Created for the Buddy Up Jam: Winter 2022. My role was the gameplay programmer and gameplay Designer.</p>
        <a href="/portfolio/RollingInTheSheep">
            <button class="btn btn-outline-tiger btn-sm margin-top" >See More</button>
        </a>
    </div>

    <div class="col-lg-6 align-content-center portfolio-custom">
        <iframe frameborder="0" src="https://itch.io/embed/1409732?bg_color=3d5e44&amp;fg_color=ffffff&amp;link_color=f2d488&amp;border_color=bebebe" width="208" height="167"><a href="https://crossedkiller.itch.io/rolling-in-the-sheep">Rolling in the Sheep by Crossedkiller, pockyratgg, midorifield, Sharktea, Tiger Frog Games, ArchivistOwl</a></iframe>
    </div>
</div>