
.background_orange_color{
  background-color: #E36414;
}

.background_black_color{
  background-color: black; !important;
}

.orange_color{
  color: #E36414;
}
/* boot strap over loads */
.active{
    background-color: #E36414 !important;
}

.portfolio .portfolio-item .portfolio-item-caption{
  background-color: #E36414 !important;
}
h2 > a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
h2 > a:hover{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 black, 0 -1px white;
}
p{
  margin-bottom: 0px;
}

.bg {
  top: calc(0% + 40px);
  left:0%;
  /* The image used */
  background-image: url("../picture/landing.jpg");

  /* Full height */
  height: calc(100% - 40px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.flash{
  position: fixed;
  background-color: #2c3e50;
  padding: 6px;
  left: 50%;
  top: 12.5%;
  z-index: 1042;
  transform: translateX(-50%);
  border-radius: 2.5px;

}

.content{
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  overflow: hidden;
  height: 357px;
  min-width: 10px;
}
.title{
  font-size: 2.5em;
}
.holder{
  min-height: 30px;
  overflow: visible;
}
.title, .aboutme, .myproj {
  display:none;
  position: relative;
}
.social_links {
  display:none;
  position: relative;
}
.social_links > a:hover{
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  cursor: pointer;

}
.left{
    animation: left 2s 1;
}
.right{
    animation: right 2s 1;
}

@keyframes left {
  0%   { left: -100px; top: 0px;}
  100% { left: 0px; top: 0px;}
}
@keyframes right {
  0%   { left: 100px; top: 0px;}
  100% { left: 0px; top: 0px;}
}
.btn-outline-tiger {
  color: #E36414;
  border-color: #E36414;
}
.btn-outline-tiger:hover {
  color: black;
  background-color: #E36414;
  border-color: #E36414;
}
.btn-outline-tiger:focus, .btn-outline-tiger.focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 100, 20, 1);
}
.btn-outline-primary.disabled, .btn-outline-tiger:disabled {
  color: #E36414;
  background-color: transparent;
}
.btn-outline-tiger:not(:disabled):not(.disabled):active, .btn-outline-tiger:not(:disabled):not(.disabled).active, .show > .btn-outline-tiger.dropdown-toggle {
  color: black;
  background-color: #E36414;
  border-color: #E36414;
}
.btn-outline-tiger:not(:disabled):not(.disabled):active:focus, .btn-outline-tiger:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-tiger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(227, 100, 20, 1);
}

.text-orange {
  color: #E36414 !important;
}

.text-black{
  color: black;
}

.margin-top{
  margin-top: .4em;
}

.divspacer{
  padding-top: 4em;
}

.tiger-link{
  text-decoration: underline;
}