
<h5 class="text-center">Resource bar - Shadergraph</h5>

<img src="https://imgur.com/mQErLeJ.gif" style="width: 100%; max-width: 100%; height: auto;">

<p class="text-center">I wanted to create a resource bar that could fill a custom shape.</p>

<p class="text-center">I created a shader that gave me the abaility to change a sprite render's shape, color and enable it to disovle in a non linear way. I was really happy with what I made and it ended up fitting the asethic really well.</p>

<img src="https://imgur.com/fZXSpCw.png" style="width: 100%; max-width: 100%; height: auto; background-color: #1abc9c ">

<p class="text-center">This is the basics of how it works.</p>

<p class="text-center">
    You start with a gradient in the shape you want and with black being full(1) resource and white being empty(0).
    Then you have two branching paths. One path is the current percentage of resource and the other path is the amount of change.
    
    Each path then uses a step node, which gives you which pixel to show based on the percentage of the resource by only showing the pixels that are below the percentage.
    Then you mutliple by the base shape to clear the gradient coloring and then multiply by the color you want and add both branches togther to get the output.
</p>

<img src="https://imgur.com/mApuCGU.png" style="width: 100%; max-width: 100%; height: auto; background-color: #1abc9c ">

<p class="text-center">Then outside of shader graph, I put a background using another sprite render stacked on top and a background with another sprite shader stacked below.</p>

<img src="https://imgur.com/ZA7Cvzu.png" style="width: 100%; max-width: 100%; height: auto; background-color: #1abc9c ">
<p class="text-center">The Shader graph.</p>
<img src="https://imgur.com/vyeMnPj.png" style="width: 100%; max-width: 100%; height: auto; background-color: #1abc9c ">


<p class="text-center">The relativly simple code to control it.</p>
<p class="text-center">(Feel free to contact me for the code or the shadergraph file assuming I dont have a good way to put a download link here by then)</p>

<img src="https://imgur.com/qSJcV40.png" style="width: 150px; max-width: 150px; height: auto; background-color: #1abc9c ">

<p class="text-center">Another form of the material is the player health was the shape of the frosting on thier head.</p>