<h5 class="text-center">Rolling in the sheep - Pause Menu </h5>

<p class="text-center">I am oddly proud of this little bit of polish on the pause menu. </p>

<p class="text-center">The pause menu even changes their hat when you have more unlocked! </p>

<p class="text-center">It was created using an animation controller and resued assets from the main sheep character.</p>

<img src="https://imgur.com/dEmOiER.gif" style="width: 100%; max-width: 100%; height: auto;">