<p>I am oddly proud of this little bit of polish on the pause menu. The pause menu even changes their hat when you have more unlocked!</p>

<p>It was relativly simple to create the pause menu was handled with an animation c</p>

<img src="https://imgur.com/dEmOiER.gif" style="width: 100%; max-width: 100%; height: auto;">